@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F6F6F6;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
}

  /* Esta clase oculta el formulario */
  .hidden {
    display: none;
    }
    
    /* Estilos del Spinner */
    #contenedor-carga {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 2;
      -webkit-transition: all 3s ease;
      transition: all 3s ease;
      -moz-transition: all 3s ease;
      -ms-transition: all 3s ease;
      -o-transition: all 3s ease;
}
    
    #carga {
      border: 10px solid rgb(255, 255, 255);
      border-top-color: var(--primary);
      border-left-color: var(--secondary);
      border-bottom-color: var(--app-grey);
      position: absolute;
      top: -100px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      -webkit-animation: girar 1.5s linear infinite;
      animation: girar 1.5s linear infinite;
    }
    
    /* Animación del spinner */
    @-webkit-keyframes girar {
      from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }
     
    @keyframes girar {
      from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }

       /* SKELETON */
       .skeleton-container {
        display: flex;
        align-items: center;
        margin-bottom: 1.5em;
        }
        
        .skeleton-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding: 1em 2em;
        box-shadow: 2px 2px 5px lightgrey;
        animation: loadingContainerAnimation 2s linear infinite;
        }
        
        .skeleton-text {
        animation: loadingTextAnimation 2s linear infinite;
        width: 150px;
        display: block;
        padding: 0.7rem;
        }
        
        @keyframes loadingContainerAnimation {
        0% {
        background: white;
        }
        50% {
        background: rgb(182, 177, 177);
        }
        100% {
        background: white;
        }
        }
        
        @keyframes loadingTextAnimation {
        0% {
        background: white;
        }
        50% {
        background: rgb(128, 123, 123);
        }
        100% {
        background: white;
        }
        }
